
<div>
  <p>
    Skill Tracker : Add New Employee Skills
  </p>
</div>

<div class="container" >
 
  <form [formGroup]="associateForm"  >
   <div class="form-group" style="text-align: center">
     <div class="row">

     
    <div style="float: left">
      <div class="row">
        <div class="col-lg-4"><label for="name">Name</label></div>
        <div class="col-lg-4"><input type="text" class="form-control" formControlName="name" id="name">
          <span *ngIf="!associateForm.get('name').valid && associateForm.get('name').touched"
          class="help-block" style="color:red"> Enter  Name </span>
        </div>
        
      </div>
      <br>
      <div class="row">
          <div class="col-lg-4">
            <label for="associateID">Asc ID</label>
          </div>
          <div class="col-lg-4">
            <input   type="text" class="form-control" formControlName="associateID" id="associateID">
            
            <span *ngIf="!associateForm.get('associateID').valid && associateForm.get('associateID').touched"
            class="help-block" style="color:red"> Please Enter ID </span>
          </div>      
      </div>
        <br>
        <div class="row">

          <div class="col-lg-4">
            <label for="email">Email</label>
          </div>
          <div class="col-lg-4 ">
              <input type="text" class="form-control"  [(ngModel)]="email"  name="email"  formControlName="email" id="email" >
              <span  *ngIf="!associateForm.get('email').valid && associateForm.get('email').touched " class="help-block" style="color:red">
                Enter Valid Email</span>
          </div>
          
        </div>
<br>
        <div class="row">

          <div class="col-lg-4">
            <label for="mobile">Mobile</label>
          </div>
          <div class="col-lg-4 ">
            <input type="text" class="form-control" [(ngModel)]="mobile"  name="mobile"  formControlName="mobile" id="mobile" >
            <span  *ngIf="!associateForm.get('mobile').valid && associateForm.get('mobile').touched " class="help-block" style="color:red;margin-left:-128%">
               Enter Valid Mobile No.</span>
        </div>
        </div>
<br>
        <div class="row">
     

            <div class="col-lg-4">
              <label for="remark">Remark</label>
            </div>
            <div class="col-lg-4 ">
              <input type="text" class="form-control" [(ngModel)]="remark"  name="remark"  formControlName="remark" id="remark" >
              <span  *ngIf="!associateForm.get('remark').valid && associateForm.get('remark').touched " class="help-block" style="color:red">
                 Enter Remark</span>
        
          </div>
    </div>
    </div>
    <div class="center" style="margin:0px auto;">

        <p> Pic </p>
        <div class="row">
          <input class="form-control"  #AccUserImg type="file" name="pic" accept="image/*">
          <!-- <img [src]="imageUrl" alt="image"/> -->
              
         
            
        </div>
  
  </div>
  <div class="right">
     <div>
       <p>Status</p>
     </div>
   
          <div class="row">

                  <input type="radio"     formControlName="status"   value="statusGreen" > Available   <br> <br>
    
            </div>
            <div class="row">

           <input type="radio"     formControlName="status" value="statusBlue" >In Process  <br> <br>
        
              </div>
              <div class="row">

                      <input type="radio"      formControlName="status" value="statusRed" > Allocated <br>
            
                </div>
          
       
      
  </div>
  <div class="right">
      <div>
          <p  style="margin-left: -71%;">Level</p>
        </div>
        <div class="row">

          <input type="radio"     formControlName="level"   value="level1" > L1 <br> <br>

    </div>
    <div class="row">

      <input type="radio"     formControlName="level"   value="level2" > L2 <br> <br>
      </div>
      <div class="row">

              <input type="radio"      formControlName="level" value="level3" > L3  <br>
    
        </div>
        
</div>
   
</div>
        <br>
        <hr>
        <div style="margin-left: -4%">
            <div class="row" >

                <div class="col-lg-2"    style="padding-left: 1%">
                  <label for="strength">Strength </label>
                </div>
                <div class="col-lg-2 ">
                  <input type="text" class="form-control" [(ngModel)]="strength"  name="strength"  formControlName="strength" id="strength" style="width:140% !important;margin-left: -26%">
                  <span  *ngIf="!associateForm.get('strength').valid && associateForm.get('strength').touched " class="help-block" style="color:red">
                     Enter Strength</span>
              </div>
              <div class="col-lg-2" style="padding-left: 10%">
                  <label for="weakness">Weakness</label>
                </div>
                <div class="col-lg-3">
                  <input type="text" class="form-control" [(ngModel)]="weakness"  name="weakness"  formControlName="weakness" id="weakness" style="width:140% !important ">
                  <span  *ngIf="!associateForm.get('weakness').valid && associateForm.get('weakness').touched " class="help-block" style="color:red">
                     Enter weakness</span>
              </div>
              </div>
              <br>
        </div>
       
        
         
   </div>
  </form>
     <!-- Skills  -->
     <div>
        <div class="row">

            <div class="col-lg-2">
               Skills
            </div>
            <div class="col-lg-6">
              <input #inputSkill name="skillName"  style="width:100%" placeholder="Skill Name">
              <div  *ngIf=check style="color:red">Enter the Skill name</div>
            </div>
            <div class="col-lg-4">
              <button class="primary" style="cursor:pointer" (click)="addSkill(inputSkill.value); inputSkill.value=''">Add</button>
        
              
            </div>
        
          </div>
          <br>

        <div class="row" *ngFor="let skill of SkillList">
            <div class="col-lg-3">
              <input type="text"   name="skill.skillName" [(ngModel)]="skill.skillName" >
            </div>
        
            <div class="col-lg-3" >
                <input type="range"  (change)="rangeSlider(skill)" min="1" max="100" [(ngModel)]="skill.points" name="skill.points" value="skill.points">
               {{skill.points}}
            </div>
            <br>
            
          </div>
          <br>
          <div style="padding-left:25%">
          <div class="row">
              <div class="col-lg-3" >
                  <!-- [disabled]="!associateForm.valid" -->
                  <button  class="btn btn-success btn-lg"   [disabled]="!associateForm.valid" (click)="addAssociate()" type="submit"  >
                     Save Associate
                     
                    </button>&nbsp; &nbsp;
                   
               </div>
                <div class="col-lg-1">
                    
                    <button class ="btn btn-default btn-lg" [routerLink]="['/dashboard']">Cancel</button>
                </div>
          </div>
          </div>
    </div>
 
